html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
td {
  text-align: center;
  padding: 4px;
}
.container {
  margin: 0 auto;
  width: 1024px;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-justify-between {
  justify-content: space-between;
}
.flex-1 {
  width: 35%;
}
.flex-2 {
  width: 60%;
}
.gap-4 {
  gap: 4px;
}
.gap-10 {
  gap: 10px;
}
.gap-16 {
  gap: 16px;
}
.flex-input-60 {
  width: 60%;
  padding: 4px;
}
.button-150 {
  width: 150px;
}
.select-name {
  padding: 4px 8px;
}
.text-center {
  text-align: center;
}
.px-16{
  padding: 0 16px;
}
.py-20 {
  padding: 20px 16px;
}
.py-40 {
  padding: 40px 0;
}
@media screen and (max-width: 780px) {
  .container {
    width: 100%;
  }
  .flex-1 {
    width: 100%;
  }
  .flex-2 {
    width: 100%;
  }
  .flex-input-60{
    width: 50%;
  }
}
